annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
bcrypt==5.0.0
click==8.3.3
colorama==0.4.6
fastapi==0.136.1
greenlet==3.3.0
h11==0.16.0
idna==3.13
mysql-connector-python==9.5.0
passlib==1.7.4
pwinput==1.0.3
pydantic==2.13.3
pydantic_core==2.46.3
SQLAlchemy==2.0.46
starlette==1.0.0
tqdm==4.67.1
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.46.0
